.highlight-logo {
    color: black;
}

.highlight-logo span {
    color: goldenrod;
}

.right-side-icons {
    font-size: 1.5rem;
}

.menu-bar .nav-link:hover {
    color: goldenrod;
}

.carousel img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.product {
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product .btn {
    background-color: goldenrod;
    color: white;
}

.contact-section {
    background: url('images/a_living_room_decorated_with_elephant_decor.JPG') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.contact-section h1 {
    font-size: 3rem;
}

.contact-section .btn {
    background-color: goldenrod;
    color: white;
}

.testimonial-carousel .carousel-inner {
    height: 600px;
}

.testimonial-carousel img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.testimonial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.testimonial img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.imm {
    margin-left: 200px;
}

.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.footer h5 {
    margin-bottom: 20px;
    font-weight: bold;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #6c757d;
}
.footer ul li a:hover {
    color: goldenrod;
}

.footer .social-icons a {
    margin-right: 10px;
    color: #6c757d;
    text-decoration: none;
}
.footer .social-icons a:hover {
    color: goldenrod;
}

.footer .newsletter input[type="email"] {
    padding: 5px 20px;
    padding-right: 20spx;
    width: 70%;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.footer .newsletter button {
    padding: 5px 10px;
    border: none;
    background-color: goldenrod;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.footer .newsletter button:hover {
    background-color: #b8860b;
}

.footer .payment-methods img {
    margin: 0 5px;
}

.footer .footer-bottom {
    border-top: 1px solid #e9ecef;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    color: #6c757d;
}